modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true

[nix]
packages = ["spidermonkey"]

[workflows]

[[workflows.workflow]]
name = "deploycommands"
mode = "sequential"
author = 48402058

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node système/deployCommande.js"

[[workflows.workflow]]
name = "suprCommandes"
mode = "sequential"
author = 48402058

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node système/supprimerCommande.js"

[[workflows.workflow]]
name = "test"
mode = "sequential"
author = 48402058

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node testJoin.js"

[[workflows.workflow]]
name = "kill"
mode = "sequential"
author = 48402058

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pkill -f node"

[[ports]]
localPort = 3000
externalPort = 80
